In [1]:
import numpy as np
import json 
import pandas as pd


pathToCsvFile = "../../part1/athlete_events.csv"
gamesCollectionFile = "games.json" 
athletesCollectionFile = "athletes.json" 
sportsCollectionFile = "sports.json"

# Data exploration

In [2]:
df = pd.read_csv(pathToCsvFile, header=0)
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

# Printing the unique value count for each column

In [3]:
print("Event",len(df.Event.unique()))

print("Name",len(df.Name.unique()))

print("Team",len(df.Team.unique()))

print("Sport",len(df.Sport.unique()))

print("Medal",len(df.Medal.unique()))

print("Games",len(df.Games.unique()))

Event 765
Name 134732
Team 1184
Sport 66
Medal 4
Games 51

In [4]:
def getEntityToIdDict(entityArray):
    entityToId = {}
    i = 1
    for i in range(len(entityArray)):
        entity = entityArray[i]
        if entity not in entityToId:
            entityToId[entity] = i + 1
            i += 1
    return entityToId
    
eventToId = getEntityToIdDict(df.Event.unique())
athleteToId = getEntityToIdDict(df.Name.unique())
teamToID = getEntityToIdDict(df.Team.unique())
sportToID = getEntityToIdDict(df.Sport.unique())
medalToID = getEntityToIdDict(df.Medal.unique())
gamesToID = getEntityToIdDict(df.Games.unique())
        
        
def writeToFile(filename, entries):
    print("Filename", filename, "Total entries: ", len(entries))
    with open(filename, 'w') as f:
        json.dump(entries, f, indent=4)

# Games Collection

In [164]:
gameTemplate = """
{{"gameId" : {gameId}, "season" : {season}, "year" :  {year}, "city" : {city}, "teams": {teams}}}
"""

gameIdToGame = {} # gameId : games
gameIdToTeamIds = {} # gameId : set
gameIdToTeams = {} # gameId : [team]

games = []

for ind in df.index:
    gameId = gamesToID[df.Games[ind]]
    season = df.Season[ind]
    year = df.Year[ind]
    city = df.City[ind]
    teamId = teamToID[df.Team[ind]]
    country = df.Team[ind]
    noc = df.NOC[ind]
    
    if gameId not in gameIdToGame:
        game = {
                    "gameId": gameId,
                    "season" : "\"" + season + "\"",
                    "year" :  year,
                    "city" : "\"" + city + "\""
        }
        gameIdToGame[gameId] = game
        
    team = {
        "teamId" : teamId,
        "country" : country, 
        "noc" :  noc
    }
    
    if gameId not in gameIdToTeamIds:
        gameIdToTeamIds[gameId] = set()
        gameIdToTeams[gameId] = []
        
    if not (teamId in gameIdToTeamIds[gameId]):
        gameIdToTeamIds[gameId].add(teamId)
        gameIdToTeams[gameId].append(team)
    

for gameId in gameIdToGame:
    teams = gameIdToTeams[gameId]
    season = gameIdToGame[gameId]["season"]
    year = gameIdToGame[gameId]["year"]
    city = gameIdToGame[gameId]["city"]
    game = gameTemplate.format(gameId=gameId, season=season, year=year, city=city, teams=teams)
    game = eval(game)
    games.append(game)


print(games[0])    
writeToFile(gamesCollectionFile, games)

{'gameId': 1, 'season': 'Summer', 'year': 1992, 'city': 'Barcelona', 'teams': [{'teamId': 1, 'country': 'China', 'noc': 'CHN'}, {'teamId': 6, 'country': 'Finland', 'noc': 'FIN'}, {'teamId': 7, 'country': 'Norway', 'noc': 'NOR'}, {'teamId': 9, 'country': 'Estonia', 'noc': 'EST'}, {'teamId': 18, 'country': 'Chad', 'noc': 'CHA'}, {'teamId': 23, 'country': 'Cuba', 'noc': 'CUB'}, {'teamId': 28, 'country': 'Chile', 'noc': 'CHI'}, {'teamId': 32, 'country': 'Hungary', 'noc': 'HUN'}, {'teamId': 17, 'country': 'Italy', 'noc': 'ITA'}, {'teamId': 37, 'country': 'Pakistan', 'noc': 'PAK'}, {'teamId': 14, 'country': 'Egypt', 'noc': 'EGY'}, {'teamId': 34, 'country': 'Algeria', 'noc': 'ALG'}, {'teamId': 41, 'country': 'Qatar', 'noc': 'QAT'}, {'teamId': 55, 'country': 'Djibouti', 'noc': 'DJI'}, {'teamId': 42, 'country': 'Malaysia', 'noc': 'MAS'}, {'teamId': 38, 'country': 'Iraq', 'noc': 'IRQ'}, {'teamId': 35, 'country': 'Kuwait', 'noc': 'KUW'}, {'teamId': 69, 'country': 'Singapore', 'noc': 'SGP'}, {'teamId': 73, 'country': 'Unified Team', 'noc': 'EUN'}, {'teamId': 74, 'country': 'Japan', 'noc': 'JPN'}, {'teamId': 64, 'country': 'Ethiopia', 'noc': 'ETH'}, {'teamId': 13, 'country': 'Spain', 'noc': 'ESP'}, {'teamId': 90, 'country': "Cote d'Ivoire", 'noc': 'CIV'}, {'teamId': 60, 'country': 'India', 'noc': 'IND'}, {'teamId': 12, 'country': 'Morocco', 'noc': 'MAR'}, {'teamId': 112, 'country': 'Portugal', 'noc': 'POR'}, {'teamId': 120, 'country': 'Puerto Rico', 'noc': 'PUR'}, {'teamId': 116, 'country': 'Colombia', 'noc': 'COL'}, {'teamId': 96, 'country': 'Ghana', 'noc': 'GHA'}, {'teamId': 29, 'country': 'Mexico', 'noc': 'MEX'}, {'teamId': 129, 'country': 'Seychelles', 'noc': 'SEY'}, {'teamId': 95, 'country': 'Great Britain', 'noc': 'GBR'}, {'teamId': 91, 'country': 'Kenya', 'noc': 'KEN'}, {'teamId': 102, 'country': 'Poland', 'noc': 'POL'}, {'teamId': 130, 'country': 'Czechoslovakia', 'noc': 'TCH'}, {'teamId': 43, 'country': 'Germany', 'noc': 'GER'}, {'teamId': 47, 'country': 'Australia', 'noc': 'AUS'}, {'teamId': 5, 'country': 'United States', 'noc': 'USA'}, {'teamId': 10, 'country': 'France', 'noc': 'FRA'}, {'teamId': 48, 'country': 'South Africa', 'noc': 'RSA'}, {'teamId': 33, 'country': 'Nigeria', 'noc': 'NGR'}, {'teamId': 93, 'country': 'France-1', 'noc': 'FRA'}, {'teamId': 78, 'country': 'Brazil', 'noc': 'BRA'}, {'teamId': 86, 'country': 'Sweden', 'noc': 'SWE'}, {'teamId': 77, 'country': 'Switzerland', 'noc': 'SUI'}, {'teamId': 15, 'country': 'Iran', 'noc': 'IRI'}, {'teamId': 92, 'country': 'Benin', 'noc': 'BEN'}, {'teamId': 104, 'country': 'Panama', 'noc': 'PAN'}, {'teamId': 22, 'country': 'Argentina', 'noc': 'ARG'}, {'teamId': 31, 'country': 'Nicaragua', 'noc': 'NCA'}, {'teamId': 153, 'country': 'Togo', 'noc': 'TOG'}, {'teamId': 53, 'country': 'Libya', 'noc': 'LBA'}, {'teamId': 133, 'country': 'Mauritania', 'noc': 'MTN'}, {'teamId': 65, 'country': 'United Arab Emirates', 'noc': 'UAE'}, {'teamId': 36, 'country': 'Bahrain', 'noc': 'BRN'}, {'teamId': 198, 'country': 'Oman', 'noc': 'OMA'}, {'teamId': 62, 'country': 'Syria', 'noc': 'SYR'}, {'teamId': 61, 'country': 'Saudi Arabia', 'noc': 'KSA'}, {'teamId': 196, 'country': 'Yemen', 'noc': 'YEM'}, {'teamId': 51, 'country': 'Jordan', 'noc': 'JOR'}, {'teamId': 107, 'country': 'Croatia', 'noc': 'CRO'}, {'teamId': 197, 'country': 'Individual Olympic Athletes', 'noc': 'IOA'}, {'teamId': 45, 'country': 'Canada', 'noc': 'CAN'}, {'teamId': 16, 'country': 'Bulgaria', 'noc': 'BUL'}, {'teamId': 87, 'country': 'United States Virgin Islands', 'noc': 'ISV'}, {'teamId': 158, 'country': 'Samoa', 'noc': 'SAM'}, {'teamId': 235, 'country': 'Barbados', 'noc': 'BAR'}, {'teamId': 224, 'country': 'Guam', 'noc': 'GUM'}, {'teamId': 68, 'country': 'Philippines', 'noc': 'PHI'}, {'teamId': 113, 'country': 'Paraguay', 'noc': 'PAR'}, {'teamId': 103, 'country': 'Costa Rica', 'noc': 'CRC'}, {'teamId': 118, 'country': 'Peru', 'noc': 'PER'}, {'teamId': 219, 'country': 'Central African Republic', 'noc': 'CAF'}, {'teamId': 192, 'country': 'Sierra Leone', 'noc': 'SLE'}, {'teamId': 117, 'country': 'Bangladesh', 'noc': 'BAN'}, {'teamId': 88, 'country': 'Sri Lanka', 'noc': 'SRI'}, {'teamId': 258, 'country': 'San Marino', 'noc': 'SMR'}, {'teamId': 83, 'country': 'Israel', 'noc': 'ISR'}, {'teamId': 63, 'country': 'Maldives', 'noc': 'MDV'}, {'teamId': 253, 'country': 'Congo (Kinshasa)', 'noc': 'COD'}, {'teamId': 148, 'country': 'Austria', 'noc': 'AUT'}, {'teamId': 179, 'country': 'South Korea', 'noc': 'KOR'}, {'teamId': 266, 'country': 'North Korea', 'noc': 'PRK'}, {'teamId': 2, 'country': 'Denmark', 'noc': 'DEN'}, {'teamId': 111, 'country': 'New Zealand', 'noc': 'NZL'}, {'teamId': 156, 'country': 'Iceland', 'noc': 'ISL'}, {'teamId': 8, 'country': 'Romania', 'noc': 'ROU'}, {'teamId': 67, 'country': 'Indonesia', 'noc': 'INA'}, {'teamId': 285, 'country': 'Equatorial Guinea', 'noc': 'GEQ'}, {'teamId': 286, 'country': 'Bolivia', 'noc': 'BOL'}, {'teamId': 183, 'country': 'Sweden-1', 'noc': 'SWE'}, {'teamId': 182, 'country': 'Sweden-2', 'noc': 'SWE'}, {'teamId': 54, 'country': 'Belgium', 'noc': 'BEL'}, {'teamId': 292, 'country': 'Antigua and Barbuda', 'noc': 'ANT'}, {'teamId': 138, 'country': 'Dominican Republic', 'noc': 'DOM'}, {'teamId': 4, 'country': 'Netherlands', 'noc': 'NED'}, {'teamId': 25, 'country': 'Greece', 'noc': 'GRE'}, {'teamId': 161, 'country': 'Great Britain-2', 'noc': 'GBR'}, {'teamId': 40, 'country': 'Lebanon', 'noc': 'LIB'}, {'teamId': 143, 'country': 'Suriname', 'noc': 'SUR'}, {'teamId': 27, 'country': 'Turkey', 'noc': 'TUR'}, {'teamId': 269, 'country': 'Solomon Islands', 'noc': 'SOL'}, {'teamId': 271, 'country': 'Senegal', 'noc': 'SEN'}, {'teamId': 318, 'country': 'Hong Kong', 'noc': 'HKG'}, {'teamId': 209, 'country': 'Guatemala', 'noc': 'GUA'}, {'teamId': 169, 'country': 'Cyprus', 'noc': 'CYP'}, {'teamId': 194, 'country': 'Papua New Guinea', 'noc': 'PNG'}, {'teamId': 279, 'country': 'Romania-2', 'noc': 'ROU'}, {'teamId': 146, 'country': 'Mongolia', 'noc': 'MGL'}, {'teamId': 152, 'country': 'Lithuania', 'noc': 'LTU'}, {'teamId': 170, 'country': 'Guinea', 'noc': 'GUI'}, {'teamId': 348, 'country': 'Poland-1', 'noc': 'POL'}, {'teamId': 355, 'country': 'Nigeria-1', 'noc': 'NGR'}, {'teamId': 226, 'country': 'Cayman Islands', 'noc': 'CAY'}, {'teamId': 125, 'country': 'Honduras', 'noc': 'HON'}, {'teamId': 52, 'country': 'Tunisia', 'noc': 'TUN'}, {'teamId': 98, 'country': 'Latvia', 'noc': 'LAT'}, {'teamId': 46, 'country': 'Ireland', 'noc': 'IRL'}, {'teamId': 177, 'country': 'Germany-1', 'noc': 'GER'}, {'teamId': 288, 'country': 'Andorra', 'noc': 'AND'}, {'teamId': 201, 'country': 'France-3', 'noc': 'FRA'}, {'teamId': 106, 'country': 'Slovenia', 'noc': 'SLO'}, {'teamId': 76, 'country': 'Congo (Brazzaville)', 'noc': 'CGO'}, {'teamId': 397, 'country': 'Albania', 'noc': 'ALB'}, {'teamId': 205, 'country': 'Canada-2', 'noc': 'CAN'}, {'teamId': 141, 'country': 'Jamaica', 'noc': 'JAM'}, {'teamId': 358, 'country': 'Liechtenstein', 'noc': 'LIE'}, {'teamId': 199, 'country': 'Fiji', 'noc': 'FIJ'}, {'teamId': 137, 'country': 'Trinidad and Tobago', 'noc': 'TTO'}, {'teamId': 184, 'country': 'Thailand', 'noc': 'THA'}, {'teamId': 254, 'country': 'Gabon', 'noc': 'GAB'}, {'teamId': 188, 'country': 'Bermuda', 'noc': 'BER'}, {'teamId': 157, 'country': 'American Samoa', 'noc': 'ASA'}, {'teamId': 223, 'country': 'Bosnia and Herzegovina', 'noc': 'BIH'}, {'teamId': 50, 'country': 'Tanzania', 'noc': 'TAN'}, {'teamId': 336, 'country': 'Zambia', 'noc': 'ZAM'}, {'teamId': 126, 'country': 'Ecuador', 'noc': 'ECU'}, {'teamId': 114, 'country': 'Angola', 'noc': 'ANG'}, {'teamId': 110, 'country': 'Guyana', 'noc': 'GUY'}, {'teamId': 164, 'country': 'Malta', 'noc': 'MLT'}, {'teamId': 476, 'country': 'Chinese Taipei', 'noc': 'TPE'}, {'teamId': 172, 'country': 'Belize', 'noc': 'BIZ'}, {'teamId': 607, 'country': 'Malaysia-1', 'noc': 'MAS'}, {'teamId': 567, 'country': 'China-1', 'noc': 'CHN'}, {'teamId': 85, 'country': 'Uruguay', 'noc': 'URU'}, {'teamId': 311, 'country': 'Zimbabwe', 'noc': 'ZIM'}, {'teamId': 621, 'country': 'North Korea-1', 'noc': 'PRK'}, {'teamId': 398, 'country': 'Romania-1', 'noc': 'ROU'}, {'teamId': 128, 'country': 'Mauritius', 'noc': 'MRI'}, {'teamId': 132, 'country': 'Luxembourg', 'noc': 'LUX'}, {'teamId': 131, 'country': 'Great Britain-1', 'noc': 'GBR'}, {'teamId': 139, 'country': 'Saint Vincent and the Grenadines', 'noc': 'VIN'}, {'teamId': 100, 'country': 'Mali', 'noc': 'MLI'}, {'teamId': 154, 'country': 'Namibia', 'noc': 'NAM'}, {'teamId': 155, 'country': 'Netherlands Antilles', 'noc': 'AHO'}, {'teamId': 208, 'country': 'Bahamas', 'noc': 'BAH'}, {'teamId': 581, 'country': 'Vietnam', 'noc': 'VIE'}, {'teamId': 115, 'country': 'Venezuela', 'noc': 'VEN'}, {'teamId': 121, 'country': 'France-2', 'noc': 'FRA'}, {'teamId': 566, 'country': 'China-2', 'noc': 'CHN'}, {'teamId': 81, 'country': 'Monaco', 'noc': 'MON'}, {'teamId': 495, 'country': 'Bulgaria-2', 'noc': 'BUL'}, {'teamId': 467, 'country': 'Aruba', 'noc': 'ARU'}, {'teamId': 261, 'country': 'Botswana', 'noc': 'BOT'}, {'teamId': 447, 'country': 'Swaziland', 'noc': 'SWZ'}, {'teamId': 20, 'country': 'Sudan', 'noc': 'SUD'}, {'teamId': 217, 'country': 'Mozambique', 'noc': 'MOZ'}, {'teamId': 312, 'country': 'Grenada', 'noc': 'GRN'}, {'teamId': 315, 'country': 'Bulgaria-1', 'noc': 'BUL'}, {'teamId': 176, 'country': 'Indonesia-1', 'noc': 'INA'}, {'teamId': 200, 'country': 'Vanuatu', 'noc': 'VAN'}, {'teamId': 850, 'country': 'South Korea-1', 'noc': 'KOR'}, {'teamId': 166, 'country': 'United States-2', 'noc': 'USA'}, {'teamId': 635, 'country': 'Poland-2', 'noc': 'POL'}, {'teamId': 147, 'country': 'Germany-2', 'noc': 'GER'}, {'teamId': 452, 'country': 'Burkina Faso', 'noc': 'BUR'}, {'teamId': 216, 'country': 'British Virgin Islands', 'noc': 'IVB'}, {'teamId': 162, 'country': 'Haiti', 'noc': 'HAI'}, {'teamId': 297, 'country': 'Denmark-2', 'noc': 'DEN'}, {'teamId': 267, 'country': 'South Korea-2', 'noc': 'KOR'}, {'teamId': 289, 'country': 'Japan-2', 'noc': 'JPN'}, {'teamId': 278, 'country': 'Germany-3', 'noc': 'GER'}, {'teamId': 206, 'country': 'Canada-1', 'noc': 'CAN'}, {'teamId': 119, 'country': 'El Salvador', 'noc': 'ESA'}, {'teamId': 99, 'country': 'Niger', 'noc': 'NIG'}, {'teamId': 165, 'country': 'United States-1', 'noc': 'USA'}, {'teamId': 373, 'country': 'Gambia', 'noc': 'GAM'}, {'teamId': 620, 'country': 'Bhutan', 'noc': 'BHU'}, {'teamId': 26, 'country': 'Cameroon', 'noc': 'CMR'}, {'teamId': 260, 'country': 'Laos', 'noc': 'LAO'}, {'teamId': 326, 'country': 'Myanmar', 'noc': 'MYA'}, {'teamId': 984, 'country': 'North Korea-2', 'noc': 'PRK'}, {'teamId': 75, 'country': 'Japan-1', 'noc': 'JPN'}, {'teamId': 354, 'country': 'Tonga', 'noc': 'TGA'}, {'teamId': 122, 'country': 'Uganda', 'noc': 'UGA'}, {'teamId': 544, 'country': 'Indonesia-2', 'noc': 'INA'}, {'teamId': 1041, 'country': 'Japan-3', 'noc': 'JPN'}, {'teamId': 334, 'country': 'United States-3', 'noc': 'USA'}, {'teamId': 492, 'country': 'Unified Team-1', 'noc': 'EUN'}, {'teamId': 935, 'country': 'Lesotho', 'noc': 'LES'}, {'teamId': 159, 'country': 'Rwanda', 'noc': 'RWA'}, {'teamId': 332, 'country': 'Malawi', 'noc': 'MAW'}, {'teamId': 144, 'country': 'Nigeria-2', 'noc': 'NGR'}, {'teamId': 395, 'country': 'Cook Islands', 'noc': 'COK'}, {'teamId': 393, 'country': 'Unified Team-2', 'noc': 'EUN'}, {'teamId': 337, 'country': 'Denmark-1', 'noc': 'DEN'}, {'teamId': 295, 'country': 'Czechoslovakia-3', 'noc': 'TCH'}, {'teamId': 220, 'country': 'Madagascar', 'noc': 'MAD'}, {'teamId': 369, 'country': 'Czechoslovakia-1', 'noc': 'TCH'}, {'teamId': 145, 'country': 'Nepal', 'noc': 'NEP'}, {'teamId': 622, 'country': 'Malaysia-2', 'noc': 'MAS'}, {'teamId': 370, 'country': 'Czechoslovakia-2', 'noc': 'TCH'}]}
Filename games.json Total entries:  51

# Athletes Collection

In [165]:
athletesTemplate = """
{{"athleteId" : {athleteId}, "name" : {name}, "sex": {sex}, "participations" : {participations}}}
"""

athleteIdToAthletes = {}
athleteIdToKey = {}
athleteIdParticipation = {}

athletes = []
for ind in df.index:
    athleteId = athleteToId[df.Name[ind]]
    name = df.Name[ind]
    sex = df.Sex[ind]
    sportId = sportToID[df.Sport[ind]]
    gameId = gamesToID[df.Games[ind]]
    teamId = teamToID[df.Team[ind]]
    age = df.Age[ind]
    height = df.Height[ind]
    weight = df.Weight[ind]
    medalType = df.Medal[ind]
    if not pd.isna(df.Age[ind]) and  (not pd.isna(df.Name[ind])) and (not pd.isna(df.Sex[ind])) and (not pd.isna(df.Height[ind])) and (not pd.isna(df.Weight[ind])):
        key = str(sportId) + "-" + str(gameId) + "-"  + str(teamId)
        if athleteId not in athleteIdToAthletes:
            athlete = {
                        "athleteId": athleteId,
                        "name" : "\""+ name.replace("\"","") + "\"",
                        "sex" : "\"" + sex + "\""
            }
            athleteIdToAthletes[athleteId] = athlete
            
        if pd.isna(df.Medal[ind]) :
            medalType = "Null"

        participation = {
                    "sportId" : sportId,
                    "gameId" :  gameId,
                    "teamId" :  teamId,
                    "age" : int(age),
                    "height" : height,
                    "weight" :  weight,
                    "medalType" :  medalType
        }
        if athleteId not in athleteIdToKey:
            athleteIdToKey[athleteId] = set()
            athleteIdParticipation[athleteId] = []
        
        # print(key, not (key  in athleteIdToKey[athleteId]), athleteIdToKey[athleteId])
        if not (key in athleteIdToKey[athleteId]):
            athleteIdToKey[athleteId].add(key)
            athleteIdParticipation[athleteId].append(participation)
        
for athleteId in athleteIdToAthletes:
    participations = athleteIdParticipation[athleteId]
    name = athleteIdToAthletes[athleteId]["name"]
    sex = athleteIdToAthletes[athleteId]["sex"]
    athlete = athletesTemplate.format(athleteId=athleteId, name=name,sex=sex, participations=participations)
    athlete = eval(athlete)
    athletes.append(athlete)
print(athletes[0])
writeToFile(athletesCollectionFile, athletes)

{'athleteId': 1, 'name': 'A Dijiang', 'sex': 'M', 'participations': [{'sportId': 1, 'gameId': 1, 'teamId': 1, 'age': 24, 'height': 180.0, 'weight': 80.0, 'medalType': 'Null'}]}
Filename athletes.json Total entries:  98546

# Sports Collection

In [6]:
sportsTemplate = """
{{"sportId" : {sportId}, "sportsType" : {sportsType}, "events": {events}}}
"""

sportIdToSports = {} # sportId : Sports
sportIdToEventId = {} # sportId : set
sportIdEvents = {} # sportId : [events]



sports = []
for ind in df.index:
    sportId = sportToID[df.Sport[ind]]
    sportsType = df.Sport[ind]
    eventId = eventToId[df.Event[ind]]
    eventType = df.Event[ind]
    
    if sportId not in sportIdToSports:
        sport = {
                    "sportId": sportId,
                    "sportsType" : "\"" + sportsType + "\""    
        }
        sportIdToSports[sportId] = sport
    
    event = {"eventId" : eventId, "eventType" : eventType}
        
    if sportId not in sportIdToEventId:
        sportIdToEventId[sportId] = set()
        sportIdEvents[sportId] = []
        
    if not (eventId in sportIdToEventId[sportId]):
        sportIdToEventId[sportId].add(eventId)
        sportIdEvents[sportId].append(event)
        
        
for sportId in sportIdToSports:
    events = sportIdEvents[sportId]
    sportsType = sportIdToSports[sportId]["sportsType"]
    sport = sportsTemplate.format(sportId=sportId, sportsType=sportsType,events=events)
    sport = eval(sport)
    sports.append(sport)

print(sports[0]) 
writeToFile(sportsCollectionFile, sports)

{'sportId': 1, 'sportsType': 'Basketball', 'events': [{'eventId': 1, 'eventType': "Basketball Men's Basketball"}, {'eventId': 83, 'eventType': "Basketball Women's Basketball"}]}
Filename sports.json Total entries:  66